{% extends 'base.html.twig' %}

{% block title %}Liste des événements{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/event/list.css') }}">
{% endblock %}

{% block body %}
    <h1>Detail de l'événement</h1>
    
    <div class="events">
        

            <article class="event">
                <div class="event-picture">
                    <img src="{{ event.picture }}" alt="{{ event.name }}">
                </div>
                <div class="event-summary">
                    <h2>{{ event.name }}</h2>
                    <p>{{ event.description|slice(0, 80) }} ...</p>
                    <aside>
                        <ul>
                            <li>
                                <i class="fas fa-{{ event.category.icon }}"></i>
                                {{ event.category.name }}
                            </li>
                            <li>
                                <i class="fas fa-map-marker-alt"></i>
                                {{ event.place ? event.place.name : 'A distance' }}
                            </li>
                            <li>
                                <i class="fas fa-calendar-alt"></i>
                                {{ event.startAt|date('d/m/Y H:i') }}
                            </li>
                        </ul>
                    </aside>
                    <div class="event-action">
                        <a href="{{ path('event_show', {id: event.id}) }}" class="button">S'inscrire</a>
                    </div>
                </div>
            </article>
            
    </div>

{% endblock %}
